* {
    position: relative;
}

#title {
    font-weight: bolder;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}

#byline {
    text-align: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: lighter;
}

.bio {
    text-align: justify;
    width: 675px;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: black;
    margin: auto;
}

.contents {
    color: rgb(0, 158, 182);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

#contents-title {
    font-size: 24px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid black;
    width: 90%;
    text-align: left;
    color: black;
}

.project-heading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1px;
    font-weight: bold;
    font-size: 20px;
}

.explain {
    font-size: 14px;
    color: black;
    text-align: justify;
    margin: auto;
    width: 725px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: auto;
}

.project-type {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid black;
    width: 90%;
    font-size: 18px;
    left: 100px;
}

.section-heading {
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    border-bottom: 1px solid rgb(94, 93, 93);
    width: 85%;
    text-align: left;
    font-weight: bold;
    left: 100px;
}

ul, li {
    list-style-type: none;
}
